################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs/Backend/FileContentIndex/ae3a2718-edf6-4028-b309-c7d71b53e345.vsidx
/Backend/.vs/Backend/FileContentIndex/cd8b10a7-242e-4a6d-808f-f727a245a3a3.vsidx
